header {
    display: flex;
    background-color: var(--cabecalho);
    color: var(--branco);
    gap: 20px;
    align-items: center;
    padding: 10px 0;
}

.icone {
    color: var(--branco);
    background-color: var(--link);
    display: flex;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;

    & .icon {
        width: 30px;
        height: auto;
        fill: var(--branco);
    }
}

.titulo {
    display: flex;
    flex-direction: column;
    padding: 0 0;
    font-size: 16px;
}

.reiniciar {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    padding: 5px 10px;
    gap: 10px;
    border: solid 1;
    border-color: var(--branco-opacity);
    color: var(--branco-opacity);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    
    .icon-reset {
        width: 20px;
        height: auto;
        fill: var(--branco-opacity);
    }

}

.reiniciar:hover {
    color: var(--branco);
    background-color: var(--link);

    .icon-reset{
        fill: var(--branco);
    }
}

/*  */
/* navegação */
/*  */


.navbar {
    background-color: var(--branco);
    display: flex;
    gap: 10px;
    justify-content: center;

    & button {
        border: hidden;
        border-bottom: solid 2px transparent;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--texto);
        background-color: var(--branco);
        cursor: pointer;
    }

    & .contador {
        background-color: rgba(24, 39, 57, 0.1);
        padding: 1px 6px;
        border-radius: 50px;
    }

    .icon-aluno, .icon-matricula {
        width: 20px;
        height: auto;
    }
    
    .icon-curso {
        width: 30px;
        height: auto;
    }

    button:hover {
        color: var(--texto-select);
        border-bottom-color: rgba(24, 39, 57, 0.2);
    }
    
    button:visited {
        color: var(--link-text);
        border-bottom-color: var(--link-text);
    
        .contador {
            background-color: rgb(198, 228, 255);
        }
    }
}
