.cabecalho {
    display: flex;
    background-color: var(--cabecalho);
    color: var(--branco);
    gap: 20px;
    align-items: center;
    padding: 10px 0;
}

.icone {
    color: var(--branco);
    background-color: var(--link);
    display: flex;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;

    & .icon {
        width: 30px;
        height: auto;
        fill: var(--branco);
    }
}

.titulo {
    display: flex;
    flex-direction: column;
    padding: 0 0;
    font-size: 16px;
}

.reiniciar {
    margin-left: auto;
    margin-right: 20px;
    color: var(--branco-opacity);
    border-color: var(--branco-opacity);
    
    .icon-reset {
        width: 18px;
        height: auto;
    }
}

.cabecalho .ant-btn-default:hover {
    background-color: rgba(56, 111, 164, 0.8) !important;
    color: var(--branco) !important;
    border-color: var(--branco) !important;
}

/*  */
/* navbar */
/*  */

.navbar {
    background-color: var(--branco);
}

.navbar .ant-menu {
    justify-content: center;
}

.item-menu {
    display: flex;
    padding: 2px;
    gap: 10px;
    color: var(--link-opacity);
    font-weight: 400;
    align-items: center;
}

.ant-menu-horizontal .ant-menu-item:not(.ant-menu-item-selected):hover::after {
    border-bottom-color: rgba(24, 39, 57, 0.15) !important;
}

.ant-menu-item-selected .ant-menu-item:hover::after .item-menu {
    border-bottom-color: var(--link-text) !important;
}

.ant-menu-item-selected .item-menu{
    color: var(--link-text);
}

.icon-aluno, .icon-matricula {
    width: 20px;
    height: auto;
}

.icon-curso {
    width: 30px;
    height: auto;
}